@use "light-theme.scss";
@use "dark-theme.scss";
@use "typography.scss" as typo;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@400;700&display=swap");

:root {
  --sans-serif-font: "Roboto", sans-serif;
  --monospace-font: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: unset;
  font-family: typo.$sansSerifFont;
  background-color: var(--background-color);
}

*:focus {
  outline: none;
}

*:focus-visible {
  z-index: 1;
  position: relative;
  outline: --info-color solid 3px;
}
