[data-theme="light"] {
  // Default Colors
  --neutral-color: #0f172a;
  --neutral-color-muted: #6c757d;
  --neutral-color-alt: #ffffff;

  // Accent colors
  --primary-color: #6366f1;
  --on-primary-color: #ffffff;
  --secondary-color: #0f172a;
  --on-secondary-color: #ffffff;

  // Building Colors
  --background-color: #ffffff;
  --on-background-color: #0f172a;
  --surface-color: #ededed;
  --on-surface-color: #0f172a;

  // Status Colors
  --success-color: #34c759;
  --info-color: #007aff;
  --warning-color: #ffcc00;
  --error-color: #ff3b30;

  // Misc Colors
  --scrollbar-color: #6c757d;
  --scrollbar-track: #ffffff;
  --background-border: #ededed;
  --surface-border: #e5e5e5;
}
