@use "../../styles/theme.scss" as theme;
@use "../../styles/typography.scss" as typo;

nav {
  $defaultColor: theme.$onSurfaceColor;
  $defaultBackgroundColor: theme.$surfaceColor;

  all: unset;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 42px;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: unset;
    margin: unset;

    li {
      margin-top: 0;

      &:first-child > a {
        border-bottom-left-radius: 12px;
      }

      &:last-child > a {
        border-bottom-right-radius: 12px;
      }

      & a {
        @include typo.a;
        display: block;
        padding: .5em 1em;
        color: $defaultColor;
        background-color: $defaultBackgroundColor;
        border-width: 1px;
        text-align: center;
        min-width: 80px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: theme.$primaryColor;
          color: theme.$onPrimaryColor;
          transition: 0.2s ease-in-out;
        }

        &[aria-disabled="true"] {
          opacity: 50%;

          &:hover {
            color: $defaultColor;
            background-color: $defaultBackgroundColor;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
