<adv-overlay [visible]="!class.hidden">
  <div class="adv-action-sheet" [id]="id">
    <div class="adv-action-sheet-actions">
      @for (action of actions; track action) {
        <button
          *ngIf="!action.hidden"
          type="button"
          [disabled]="action.disabled"
          [attr.data-state]="action.state ?? State.Default"
          [attr.aria-label]="action.label"
          (click)="action?.action()"
        >
          {{ action.label }}
        </button>
      }
    </div>
  </div>
</adv-overlay>
