@use "../../styles/toolbox.scss" as tb;
@use "../../styles/theme.scss" as theme;
@use "../../styles/typography.scss" as typo;

div.adv-overlay {
  @include tb.overlay;
}

@keyframes fly-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

$borderRadius: 13px;

div.adv-action-sheet {
  @include tb.center-content($margin-lr: 2em);
  position: absolute;
  bottom: 1em;
  text-align: center;
  animation: fly-in 1s forwards;
  text-align: center;

  &-actions {
    display: flex;
    flex-direction: column;

    // all actions
    button {
      all: unset;
      @include tb.state-color;
      height: 54px;
      width: 100%;
      min-width: 250px;
      cursor: pointer;
      background-color: theme.$backgroundColor;

      // all custom actions
      &:not(:last-child) {
        border-bottom: 1px solid theme.$backgroundBorder;
      }

      // first custom action
      &:first-child {
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }

      // last custom action
      &:nth-last-child(2) {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        border-bottom: unset;
      }

      // cancel button
      &:last-child {
        margin-top: 1.3em;
        font-weight: bold;
        border-radius: $borderRadius;
      }

      &:disabled {
        @include tb.disabled;
      }
    }
  }
}
