<header>
  <adv-navigation [items]=items />
</header>

<main>
  <adv-dialog>
    <h2>Settings</h2>
    <ul class="adv-dialog-content">
      <li>
        <adv-switch [checked]=true (change)=toggleTheme()>Dark Theme</adv-switch>
      </li>
      <li>
        <adv-dropdown [options]=languages (changeOption)=changeLanguage($event)>Language</adv-dropdown>
      </li>
      <li>
        <button (click)=closeSettings()>
          Close
        </button>
      </li>
    </ul>
  </adv-dialog>
  <h1 class="title">Hello, World!</h1>
  <adv-code-line code="test" title="GPG Key" />
  <adv-dropdown [options]=languages (changeOption)=changeLanguage($event)>Language</adv-dropdown>
</main>
