<header>
  <adv-icons [icons]="icons" />
  <adv-navigation [items]=items />
</header>

<main>
  <adv-dialog>
    <h2>Settings</h2>
    <ul>
      <li>
        <!-- TODO: extract to switch component -->
        <label for="test1">Dark Theme</label>
        <input id="test1" type="checkbox" (change)="toggleTheme()" />
      </li>
      <li>
        <button (click)="closeSettings()">
          Close
        </button>
      </li>
    </ul>
  </adv-dialog>
  <h1 class="title">Hello, World!</h1>
  <adv-code-line code="test" title="gpg key" />
</main>
