<header>
  <adv-navigation [items]=items />
</header>

<main>
  <adv-dialog>
    <h2 i18n="@@SettingsHeader">Settings</h2>
    <ul class="adv-dialog-content">
      <li>
        <adv-switch i18n="@@SettingsDarkTheme" [checked]=isDarkThemeEnabled (change)=toggleTheme()>Dark Theme</adv-switch>
      </li>
      <li>
        <adv-dropdown i18n="@@SettingsLanguage" [options]=languages (changeOption)=changeLanguage($event)>Language</adv-dropdown>
      </li>
      <li>
        <button (click)=closeSettings() i18n="@@SettingsCloseButton">
          Close
        </button>
      </li>
    </ul>
  </adv-dialog>
  <section>
    <h1 class="title" i18n="@@MainTitle">Hello, World!</h1>
    <adv-code-line i18n i18n-code="@@GPGCode" i18n-title="@@GPGTitle" code="English" title="GPG Key" />
  </section>
</main>
