<div *ngIf="!hidden">
  <label [for]=id><ng-content /></label>
  <button role="button" [disabled]=disabled>
    {{ selectedOption }}
    <svg role="img" width="14" height="14">
      <use [attr.href]=icon />
    </svg>
  </button>
  <ul [id]=id>
    @for (option of options; track option) {
      <li (click)=selectOption($event) tabindex="0">
        <button
          type="button"
          [disabled]=option.disabled
          [hidden]=option.hidden
        >
          {{ option.label }}
        </button>
      </li>
    }
  </ul>
</div>
