@use "../../styles/theme.scss" as theme;
@use "../../styles/typography.scss" as typo;

div {
  display: flex;
  align-items: center;
  position: relative;

  label {
    @include typo.p;
    color: theme.$onBackgroundColor;
  }

  button {
    @include typo.p;
    width: 100%;
    user-select: none;
    color: theme.$onBackgroundColor;
    background-color: transparent;
    border: unset;
    -webkit-tap-highlight-color: transparent;
    text-align: end;
    cursor: pointer;

    &:disabled {
      opacity: 50%;
      cursor: not-allowed;
    }

    svg {
      fill: theme.$onBackgroundColor;
    }

    & + ul {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 1.8em;
      z-index: 1;

      list-style-type: none;
      min-width: 200px;
      padding-left: unset;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 20%);

      li {
        button {
          @include typo.p;
          text-align: start;
          color: theme.$onSurfaceColor;
          background-color: theme.$surfaceColor;
          border: unset;
          width: 100%;
          height: auto;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 1.5em;
          -webkit-tap-highlight-color: transparent;
          user-select: none;
          cursor: pointer;
          border-bottom: 1px solid black;

          &:disabled {
            opacity: 50%;
            cursor: not-allowed;
          }

          &:hover:enabled {
              color: theme.$onPrimaryColor;
              background-color: theme.$primaryColor;
          }
        }

        &:last-child > button {
          border-bottom: unset;
        }

        &:first-child > button,
        &:first-child > button {
          border-top-left-radius: 14px;
          border-top-right-radius: 14px;
        }

        &:last-child > button,
        &:last-child > button {
          border-bottom-left-radius: 14px;
          border-bottom-right-radius: 14px;
        }
      }
    }
  }

  &:hover {
    label + button:enabled + ul {
      display: block;
    }
  }
}
