<div *ngIf="!hidden" clickedOutside (clickedOutside)="closeDropdown()">
  <label [for]=id><ng-content /></label>
  <button
    type="button"
    [disabled]=disabled
    (click)=openOptions($event)
  >
    {{ selectedOption }}
    <ng-icon name="matKeyboardArrowDownOutline"></ng-icon>
  </button>
  <ul [id]=id>
    @for (option of options; track option) {
      <li>
        <button
          type="button"
          [disabled]=option.disabled
          [hidden]=option.hidden
          (click)=selectOption($event)
        >
          {{ option.label }}
        </button>
      </li>
    }
  </ul>
</div>
