<nav role="navigation">
  <ul>
    <li *ngFor="let item of items">
      @if (item.href) {
        <a
          [attr.href]="item?.disabled ? null : item.href"
          [attr.target]="item?.external ? '_blank' : '_self'"
          [attr.rel]="item?.external ? 'noreferrer' : null"
          [attr.aria-disabled]="item?.disabled"
        >
          {{ item.label }}
        </a>
      } @else {
        <a
          role="button"
          tabindex="0"
          [attr.aria-disabled]="item?.disabled"
          (click)="item?.action()"
        >
          {{ item.label }}
        </a>
      }
    </li>
  </ul>
</nav>
